<!DOCTYPE html>
<html ng-app="CalcApp">
    <head>
        <title>Simple Calc&trade;</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body>
        <div ng-controller="CalcCtrl" class="container">
            <h2 class="text-center">Simple Calc&trade;</h2>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 my-calc">

                  <div class="row">
                    <input type="text" class="form-control display center-block text-right" value={{calcValue}} readonly>
                  </div>
                  <div class="row text-center">
                    <button ng-click="numClick(7)" class="btn btn-default" >7</button>
                    <button ng-click="numClick(8)" class="btn btn-default">8</button>
                    <button ng-click="numClick(9)" class="btn btn-default">9</button>
                    <button ng-click="divide()" class="btn btn-primary">&divide;</button>
                    <button ng-click="multiple()" class="btn btn-primary">&times;</button>
                  </div>
                  <div class="row text-center">
                    <button ng-click="numClick(4)" class="btn btn-default">4</button>
                    <button ng-click="numClick(5)" class="btn btn-default">5</button>
                    <button ng-click="numClick(6)" class="btn btn-default">6</button>
                    <button ng-click="add()" class="btn btn-primary">&plus;</button>
                    <button ng-click="sub()" class="btn btn-primary">&minus;</button>
                  </div>
                  <div class="row text-center">
                    <button ng-click="numClick(1)" class="btn btn-default">1</button>
                    <button ng-click="numClick(2)" class="btn btn-default">2</button>
                    <button ng-click="numClick(3)" class="btn btn-default">3</button>
                    <button ng-click="equal()" class="btn btn-success">&equals;</button>
                    <button ng-click="clear()" class="btn btn-danger">c</button>
                  </div>
                  <div class="row text-center">
                    <button class="btn btn-default"></button>
                    <button ng-click="numClick(0)" class="btn btn-default">0</button>
                    <button class="btn btn-default"></button>
                    <button class="btn btn-default"></button>
                    <button class="btn btn-default"></button>
                </div>
            </div>
        </div>
    </body>
</html>